body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.left-column {
  margin: 10px;
  width: calc(50% - 10px);
  min-width: 200px;
  max-width: 600px;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.right-column {
  margin: 10px;
  width: calc(50% - 10px);
  min-width: 200px;
  max-width: 600px;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

p {
  font-size: calc(1rem + 0.5vw);
}
